.podcastImage {
    background-image: url("../../assets/no_podcast.png");
    height: 133.06px;
    min-height: 133.06px;
}

.episodePublisher {
    cursor: pointer;
}

.episodeControls {
    position: absolute;
    bottom: 0px;
    /*width: 100%;*/
}

.episodeTitle {
    font-size: 15px;
    word-break: normal;
    line-height: 1.4rem;
    cursor: pointer;
}
